






.lifeskill{
	background-color: #ccc;
	font-size: 20px;
	padding:10px;
	border-style: solid;
	border-width:10px;
	margin: 0 auto;
	border color: black;
	width: 1000px;
}

.head{
	background-color: orange;
	border-color: blue;
	border width: 30px;
	padding: 22px;
	border-style: solid;
	border-bottom: dashed;
}





